<div class="card mb-4">
    <div class="card-body">
        {% if property.fileName %}
            <img src="{{ vich_uploader_asset(property,'imageFile') | imagine_filter('my_thumb')}}" alt="card-img-top" style="width: 100%; height: auto">
            {#<img src="/images/properties/{{ property.fileName | imagine_filter('my_thumb') }}" alt="card-img-top" style="width: 100%; height: auto">#}
        {% else %}
            <img src="{{ '/images/properties/empty.jpg' | imagine_filter('my_thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
        {% endif %}
        <h5 class="card-title ">
            <a href=" {{ path('property_show', {'id':property.id }) }} ">
                {{ property.name }}
            </a>
        </h5>
        <p class="card-text"> surface : {{ property.surface }} m² - {{ property.city }} ({{ property.postalCode}})</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ property.price }} €
        </div>
    </div>
</div>
